<!--
 Copyright © VNG Realisatie 2023
 Licensed under the EUPL
-->

{{ define "authenticated-page-header" }}
    <p>
        <a href="/contracts" class="button--link">
            {{ svg "icon-chevron-left" "icon--inline" }}
            {{ i18n "Back" }}
        </a>
    </p>

    <h1 class="contract-detail-page__title">{{ i18n "Contract" }}</h1>
{{ end }}

{{ define "content" }}
    <section class="contract-detail-page__section">
        <p class="contract-detail-page__section-header">
            {{ svg "icon-contracts" "icon--inline" }}
            {{ i18n "ID" }}
        </p>

        <p class="contract-detail-page__section-content">
            {{ .ID }}
        </p>

        <p class="contract-detail-page__section-header">
            {{ if .IsActive }}
                {{ svg "icon-state-active" "icon--inline" }}
                {{ i18n "State" }}
            {{ else }}
                {{ svg "icon-state-inactive" "icon--inline" }}
                {{ i18n "State" }}
            {{ end }}
        </p>

        <p class="contract-detail-page__section-content">
            {{ i18n .State }}
        </p>

        <p class="contract-detail-page__section-header">
            {{ svg "icon-code-s-slash-line" "icon--inline" }}
            {{ i18n "Hash" }} ({{ .HashAlgorithm }})
        </p>

        <p class="contract-detail-page__section-content">
            {{ .Hash }}
        </p>

        <p class="contract-detail-page__section-header">
            {{ svg "icon-organization" "icon--inline" }}
            {{ i18n "Group ID" }}
        </p>

        <p class="contract-detail-page__section-content">
            {{ .GroupID }}
        </p>

        <p class="contract-detail-page__section-header">
            {{ svg "icon-time-line" "icon--inline" }}
            {{ i18n "Created At" }}
        </p>

        <p class="contract-detail-page__section-content">
            {{ .CreatedAt }}
        </p>

        <p class="contract-detail-page__section-header">
            {{ svg "icon-time-line" "icon--inline" }}
            {{ i18n "Validity" }}
        </p>

        <p class="contract-detail-page__section-content">
            {{ i18n "Valid from" }}
            {{ .ValidFrom }}
            {{ i18n "until" }}
            {{ .ValidUntil }}
        </p>

        <p class="contract-detail-page__section-header">
            {{ svg "icon-information-line" "icon--inline" }}
            {{ i18n "Grants" }}
        </p>

        <div class="contract-detail-page__section-content">
            {{ range $grant := .ServicePublicationGrants }}
                <div class="contract-detail-page__grant">
                    <h3 class="contract-detail-page__grant__title">
                        {{ i18n "Service Publication Grant" }}
                    </h3>

                    <p>
                        <small>{{ i18n "Grant Hash" }}</small><br />
                        {{ $grant.Hash }}
                    </p>

                    <p>
                        <small>{{ i18n "Directory Peer ID" }}</small><br />
                        {{ $grant.DirectoryPeerID }}
                    </p>

                    <p>
                        <small>{{ i18n "Service Peer ID" }}</small><br />
                        {{ $grant.ServicePeerID }}
                    </p>

                    <p>
                        <small>{{ i18n "Service Name" }}</small><br />
                        {{ $grant.ServiceName }}
                    </p>
                </div>
            {{ end }}

            {{ range $grant := .ServiceConnectionGrants }}
                <div class="contract-detail-page__grant">
                    <h3 class="contract-detail-page__grant__title">
                        {{ i18n "Service Connection Grant" }}
                    </h3>

                    <p>
                        <small>{{ i18n "Grant Hash" }}</small><br />
                        {{ $grant.Hash }}
                    </p>

                    <p>
                        <small>{{ i18n "Service Peer ID" }}</small><br />
                        {{ $grant.ServicePeerID }}
                    </p>

                    <p>
                        <small>{{ i18n "Service Name" }}</small><br />
                        {{ $grant.ServiceName }}
                    </p>

                    <p>
                        <small>{{ i18n "Outway Peer ID" }}</small><br />
                        {{ $grant.OutwayPeerID }}
                    </p>

                    <p>
                        <small>{{ i18n "Outway Certificate Thumbprint" }}</small
                        ><br />
                        {{ $grant.OutwayCertificateThumbprint }}
                    </p>
                </div>
            {{ end }}

            {{ range $grant := .DelegatedServiceConnectionGrants }}
                <div class="contract-detail-page__grant">
                    <h3 class="contract-detail-page__grant__title">
                        {{ i18n "Delegated Service Connection Grant" }}
                    </h3>

                    <p>
                        <small>{{ i18n "Grant Hash" }}</small><br />
                        {{ $grant.Hash }}
                    </p>

                    <p>
                        <small>{{ i18n "Delegator Peer ID" }}</small><br />
                        {{ $grant.DelegatorPeerID }}
                    </p>

                    <p>
                        <small>{{ i18n "Outway Peer ID" }}</small><br />
                        {{ $grant.OutwayPeerID }}
                    </p>

                    <p>
                        <small>{{ i18n "Outway Certificate Thumbprint" }}</small
                        ><br />
                        {{ $grant.OutwayCertificateThumbprint }}
                    </p>

                    <p>
                        <small>{{ i18n "Service Peer ID" }}</small><br />
                        {{ $grant.ServicePeerID }}
                    </p>

                    <p>
                        <small>{{ i18n "Service Name" }}</small><br />
                        {{ $grant.ServiceName }}
                    </p>
                </div>
            {{ end }}

            {{ range $grant := .DelegatedServicePublicationGrants }}
                <div class="contract-detail-page__grant">
                    <h3 class="contract-detail-page__grant__title">
                        {{ i18n "Delegated Service Publication Grant" }}
                    </h3>

                    <p>
                        <small>{{ i18n "Grant Hash" }}</small><br />
                        {{ $grant.Hash }}
                    </p>

                    <p>
                        <small>{{ i18n "Directory Peer ID" }}</small><br />
                        {{ $grant.DirectoryPeerID }}
                    </p>

                    <p>
                        <small>{{ i18n "Delegator Peer ID" }}</small><br />
                        {{ $grant.DelegatorPeerID }}
                    </p>

                    <p>
                        <small>{{ i18n "Service Peer ID" }}</small><br />
                        {{ $grant.ServicePeerID }}
                    </p>

                    <p>
                        <small>{{ i18n "Service Name" }}</small><br />
                        {{ $grant.ServiceName }}
                    </p>
                </div>
            {{ end }}
        </div>

        <p class="contract-detail-page__section-header">
            {{ svg "icon-pen-nib-line" "icon--inline" }}
            {{ i18n "Signatures" }}
        </p>

        <div class="contract-detail-page__section-content">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            {{ svg "icon-close-fill" "icon--inline" }}
                            {{ i18n "Rejected" }}
                        </th>
                        <th>
                            {{ svg "icon-check-fill" "icon--inline" }}
                            {{ i18n "Accepted" }}
                        </th>
                        <th>
                            {{ svg "icon-arrow-go-back-fill" "icon--inline" }}
                            {{ i18n "Revoked" }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Organizations }}
                        <tr>
                            <td>
                                {{ .Name }}<br />
                                <small>PeerID {{ .PeerID }}</small>
                            </td>
                            <td>{{ .RejectSignatureSignedAt }}</td>
                            <td>{{ .AcceptSignatureSignedAt }}</td>
                            <td>{{ .RevokeSignatureSignedAt }}</td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </section>

    {{ block "confirm-reject-modal" . }}{{ end }}
    {{ block "confirm-accept-modal" . }}{{ end }}
    {{ block "confirm-revoke-modal" . }}{{ end }}


    <form
        class="contract-detail-page__form"
        action="/contracts/{{ .Hash }}/sign"
        method="post"
        autocomplete="off"
    >
        <button
            type="submit"
            class="button--primary"
            name="action"
            value="reject"
            onclick="window.ConfirmRejectModal.showModal();return false;"
            {{ if .DisableRejectButton }}disabled{{ end }}
        >
            {{ i18n "Reject" }}
        </button>

        <button
            type="submit"
            class="button--primary"
            name="action"
            value="accept"
            onclick="window.ConfirmAcceptModal.showModal();return false;"
            {{ if .DisableAcceptButton }}disabled{{ end }}
        >
            {{ i18n "Accept" }}
        </button>

        <button
            type="submit"
            class="button--primary"
            name="action"
            value="revoke"
            onclick="window.ConfirmRevokeModal.showModal();return false;"
            {{ if .DisableRevokeButton }}disabled{{ end }}
        >
            {{ i18n "Revoke" }}
        </button>
    </form>
{{ end }}

{{ define "confirm-reject-modal" }}
    <dialog id="ConfirmRejectModal" class="modal">
        <div class="modal__content">
            <header class="modal__header">
                <h1 class="modal__header__title">
                    {{ i18n "Reject contract" }}
                </h1>
                <form>
                    <button
                        type="submit"
                        value="cancel"
                        formmethod="dialog"
                        class="modal__header__close"
                    >
                        {{ svg "icon-close" "modal__header__close-icon" }}
                    </button>
                </form>
            </header>
            <div class="modal__body">
                <p>
                    {{ i18n "Are you sure you want to reject this contract? This will make the Contract invalid for all involved Peers." }}
                </p>

                <form
                    class="modal__footer"
                    action="/contracts/{{ .Hash }}/sign"
                    method="post"
                >
                    <button
                        type="submit"
                        class="button--secondary"
                        formmethod="dialog"
                        autofocus
                    >
                        {{ i18n "Cancel" }}
                    </button>

                    <button
                        type="submit"
                        class="button--primary"
                        name="action"
                        value="reject"
                    >
                        {{ i18n "Reject" }}
                    </button>
                </form>
            </div>
        </div>
    </dialog>
{{ end }}

{{ define "confirm-accept-modal" }}
    <dialog id="ConfirmAcceptModal" class="modal">
        <div class="modal__content">
            <header class="modal__header">
                <h1 class="modal__header__title">
                    {{ i18n "Accept contract" }}
                </h1>
                <form>
                    <button
                        type="submit"
                        value="cancel"
                        formmethod="dialog"
                        class="modal__header__close"
                    >
                        {{ svg "icon-close" "modal__header__close-icon" }}
                    </button>
                </form>
            </header>
            <div class="modal__body">
                <p>
                    {{ i18n "Are you sure you want to accept this contract? When all involved Peers accept the contract, it will become active." }}
                </p>

                <form
                    class="modal__footer"
                    action="/contracts/{{ .Hash }}/sign"
                    method="post"
                >
                    <button
                        type="submit"
                        class="button--secondary"
                        formmethod="dialog"
                        autofocus
                    >
                        {{ i18n "Cancel" }}
                    </button>

                    <button
                        class="button--primary"
                        value="accept"
                        name="action"
                        type="submit"
                    >
                        {{ i18n "Accept" }}
                    </button>
                </form>
            </div>
        </div>
    </dialog>
{{ end }}

{{ define "confirm-revoke-modal" }}
    <dialog id="ConfirmRevokeModal" class="modal">
        <div class="modal__content">
            <header class="modal__header">
                <h1 class="modal__header__title">
                    {{ i18n "Revoke contract" }}
                </h1>
                <form>
                    <button
                        type="submit"
                        value="cancel"
                        formmethod="dialog"
                        class="modal__header__close"
                    >
                        {{ svg "icon-close" "modal__header__close-icon" }}
                    </button>
                </form>
            </header>
            <div class="modal__body">
                <p>
                    {{ i18n "Are you sure you want to revoke this contract? This will make the Contract invalid for all involved Peers." }}
                </p>

                <form
                    class="modal__footer"
                    action="/contracts/{{ .Hash }}/sign"
                    method="post"
                >
                    <button
                        type="submit"
                        class="button--secondary"
                        formmethod="dialog"
                        autofocus
                    >
                        {{ i18n "Cancel" }}
                    </button>

                    <button
                        type="submit"
                        class="button--primary"
                        value="revoke"
                        name="action"
                    >
                        {{ i18n "Revoke" }}
                    </button>
                </form>
            </div>
        </div>
    </dialog>
{{ end }}
